* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-size: 16x;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes the "SEO" latters in header according to story */
#seo {
    color: #d9dcd6;
}
/* Main container for  navagation bar on the top of page  */
 .nav-bar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

 .nav-bar ul {
    list-style-type: none;
    
}
/* Setting display for nav list elements to be in-line */
 .nav-bar ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

#Banner {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/* puts images to the left size of a div */
.float-left {
    float: left;
    margin-right: 25px;
}


/* puts images to the right size of a div */
.float-right {
    float: right;
    margin-left: 25px;
}


/*Main content container on the left side  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Sets all h2 in content properties*/

.content h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets properties for the main section called benefits */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff
}
/* Properties for summary divs in benifits  making sure theres room below the div boxes */
.benefits summary {
    margin-bottom: 32px;
}



.benefits h3{
    margin-bottom: 10px;
    text-align: center;
}
/* Setting all image elements with the class name "benefits-img" in benefits to be the same size  */
.benefits-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.content summary
 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content summary img  {
    max-height: 200px;
}

/* Footer container at the bottom of the page */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
